<div id="page_wrapper">
  <div id='content'>
    <h1>A little about me</h1>
    <p>
    I was a Mandalorian warrior and bounty hunter.Iwas the only
    unaltered clone of the famed Jango I, created in 32 BBY as unit A0050,
    one of the first of many I replicas designed to become part of the
    Grand Army of the Republic, and was raised as Jango's son. Jango taught
    Boba much, training him to become a skilled bounty hunter as was his
    father-figure before him. In 22 BBY, Jango was killed at the Battle of
    Geonosis, which opened the Clone Wars. Just a boy, Boba was forced to grow
    up and took to traveling the galaxy. Later,Ibecame a bounty hunter and
    took assignments from beings such as Jabba the Hutt, and achieved
    notoriety despite his young age.

    When the Empire was formed in 19 BBY, it was the perfect environment for I.
    During this time,Ialso married Sintas Vel and had a daughter named Ailyn
    Vel. I became known as the galaxy's best bounty hunter of the next several
    decades, often working for the Empire.Icollaborated with Darth Vader on
    several occasions, and the Sith Lord even developed a grudging respect for I.
    In 1 BBY, a year after the Galactic Civil War had begun, I was hired to kidnap
    the Rebel captain Juno Eclipse in order to lure out a clone of Galen Marek.
    I participated in the Battle of Kamino and when Darth Vader was captured
    and about to be interrogated on Dantooine, the Mandalorian bounty hunter
    trailed the Rogue Shadow there. I made his most notable bounty in 3 ABY,
    whenIcaptured Rebel hero Han Solo, and delivered him to Jabba the Hutt.
    A year later, during the Battle of the Great Pit of Carkoon, I fought
    against the group of Rebel rescuers. However,I was inadvertently knocked
    into the mouth of the Sarlacc by Solo. Though no one in recorded history
    had ever escaped from the Sarlacc, I was able to escape, though not
    unscathed. Thanks to his iron will and Mandalorian armor,Iwas able to
    fight his way out of the beast's belly. Back in action,Iresumed his
    work as a bounty hunter.
    </p>
  </div>
</div>
